Repository g-azerad/code-challenge: changes, and which GitLab CI jobs are due for each by the changed paths.
All: pylint, unit-test, gen-docker-test, integration-test, clean-test-docker, package-docker, deploy-db

Path conditions:
  pylint: any of: app/**/*, requirements.txt, .gitlab-ci.yml, Dockerfile
  unit-test: any of: app/**/*, requirements.txt, .gitlab-ci.yml, Dockerfile
  gen-docker-test: any of: app/**/*, requirements.txt, .gitlab-ci.yml, Dockerfile
  integration-test: any of: app/**/*, requirements.txt, .gitlab-ci.yml, Dockerfile
  clean-test-docker: any of: app/**/*, requirements.txt, .gitlab-ci.yml, Dockerfile
  package-docker: any of: Dockerfile, app/**/*, requirements.txt, requirements_aws.txt
  deploy-db: any of: db/changelog.sql

fix of pipeline
  .gitlab-ci.yml
  tests/services/test_cart_service.py
  tests/services/test_checkout_service.py
Due: pylint, unit-test, gen-docker-test, integration-test, clean-test-docker

Fix of databse connection into pipeline
  .gitlab-ci.yml
  docker-compose.yml
Due: pylint, unit-test, gen-docker-test, integration-test, clean-test-docker

fix of terraform and app code
  terraform/live/prod/infrastructure/.terraform.lock.hcl
  terraform/live/prod/infrastructure/main.tf
  terraform/live/prod/infrastructure/prod.tfvars
  terraform/live/prod/infrastructure/variables.tf
Due: none

Terraform config changes; image published to AWS ECR
  .gitlab-ci.yml
  app/config.py
  terraform/modules/api_gateway/main.tf
  terraform/modules/api_gateway/output.tf
  terraform/modules/lambda/main.tf
Due: pylint, unit-test, gen-docker-test, integration-test, clean-test-docker, package-docker

Init ci cd
  .gitlab-ci.yml
  app/config.py
  terraform/live/prod/infrastructure/.terraform.lock.hcl
  terraform/live/prod/infrastructure/main.tf
  terraform/live/prod/infrastructure/prod.tfvars
  terraform/live/prod/infrastructure/variables.tf
  terraform/modules/api_gateway/main.tf
  terraform/modules/api_gateway/output.tf
  terraform/modules/lambda/main.tf
Due: pylint, unit-test, gen-docker-test, integration-test, clean-test-docker, package-docker

Test publish image AWS ECR
  .gitlab-ci.yml
  terraform/live/prod/infrastructure/main.tf
Due: pylint, unit-test, gen-docker-test, integration-test, clean-test-docker

Test publish image AWS ECR
  .gitlab-ci.yml
Due: pylint, unit-test, gen-docker-test, integration-test, clean-test-docker

Fix of Terraform
  terraform/live/prod/infrastructure/main.tf
Due: none

Fix of Gitlab backend for TF
  terraform/live/prod/infrastructure/main.tf
Due: none

xvfb command set into entrypoint for lambda deployment
  .gitlab-ci.yml
  lambda_function.py
  terraform/modules/lambda/main.tf
Due: pylint, unit-test, gen-docker-test, integration-test, clean-test-docker

Gitlab CI edit rules to package docker image
  .gitlab-ci.yml
Due: pylint, unit-test, gen-docker-test, integration-test, clean-test-docker

Fix of lambda entrypoint, add of xauth lib to install into dockerfile
  Dockerfile
  terraform/modules/lambda/main.tf
  terraform/scripts/get_public_ip.sh
Due: pylint, unit-test, gen-docker-test, integration-test, clean-test-docker, package-docker

Change of playwright launch into app
  Dockerfile
  app/utils/playwright_utils.py
Due: pylint, unit-test, gen-docker-test, integration-test, clean-test-docker, package-docker

Setting playwright browser path into dockerfile
  Dockerfile
  terraform/modules/lambda/main.tf
Due: pylint, unit-test, gen-docker-test, integration-test, clean-test-docker, package-docker

Adapt to ECS
  Dockerfile
  Dockerfile-lambda
  app/config.py
  app/utils/playwright_utils.py
  db/rds/eu-west-3-bundle.pem
  terraform/modules/ecs/main.tf
  terraform/modules/lambda/main.tf
Due: pylint, unit-test, gen-docker-test, integration-test, clean-test-docker, package-docker

Support of other ports than 8000 into dockerfile
  .gitlab-ci.yml
  Dockerfile
  terraform/modules/ecs/main.tf
Due: pylint, unit-test, gen-docker-test, integration-test, clean-test-docker, package-docker

fix of ECS terraform module
  terraform/modules/ecs/main.tf
Due: none

Fix automatic setting of ingress ip block for bastion securoty group
  terraform/live/prod/infrastructure/main.tf
  terraform/modules/network/main.tf
  terraform/modules/network/outputs.tf
  terraform/modules/network/variables.tf
Due: none

Update of terraform code to handle ECS as endpoint
  terraform/live/prod/infrastructure/main.tf
  terraform/modules/api_gateway/main.tf
  terraform/modules/ecs/main.tf
  terraform/modules/ecs/variables.tf
  terraform/modules/lambda/main.tf
  terraform/modules/network/main.tf
  terraform/modules/network/variables.tf
Due: none
